<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel - FootballForAll</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/simple-sidebar.css" />
</head>
<body style="margin-bottom: 0px;">
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><a class="navbar-brand text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel</a></div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Match" asp-action="Index">Matches</a>
                <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="TeamPosition" asp-action="Index">TeamPositions</a>
                <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Season" asp-action="Index">Seasons</a>
                <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Championship" asp-action="Index">Championships</a>
                <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Stadium" asp-action="Index">Stadiums</a>
                <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Club" asp-action="Index">Clubs</a>
                <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Player" asp-action="Index">Players</a>
                <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Manager" asp-action="Index">Managers</a>
                <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Referee" asp-action="Index">Referees</a>
                <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Country" asp-action="Index">Countries</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light border-bottom">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="home" asp-action="index">Home</a>
                    </li>
                    <li class="nav-item">
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </nav>
            <div class="container-fluid" style="margin-top: 10px;">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
