@model ChampionshipViewModel
@{
    ViewData["Title"] = "Championship";
}

<div class="text-center">
    <h2>@Model.Name</h2>
    <h6>@Model.Country</h6>
    <br />
    <h4>Table</h4>
    <ul class="list-group">
        @for (int index = 0; index < Model.ResultsTable.Count; index++)
        {
            <li class="list-group-item">
                @(index + 1)
                -
                <a asp-area="" asp-controller="Club" asp-action="Index">@Model.ResultsTable[index].Name</a>
            </li>
        }
    </ul>
</div>
