@model IEnumerable<ChampionshipViewModel>
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    @foreach (var championship in Model)
    {
        <h3><a asp-area="" asp-controller="Championship" asp-action="Index">@championship.Name</a></h3>
        <ul class="list-group">
        @foreach (var club in championship.ResultsTable)
        {
            <li class="list-group-item">
                @($"{club.Fixtures[0].Date}")
                |
                <a asp-area="" asp-controller="Club" asp-action="Index">@club.Fixtures[0].HomeTeam.Name</a>
                -
                <a asp-area="" asp-controller="Club" asp-action="Index">@club.Fixtures[0].AwayTeam.Name</a>
                |
                <a asp-area="" asp-controller="Match" asp-action="Index">More info...</a>
            </li>
        }
        </ul>
    }
</div>
